<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">Settings</h1>
    </ion-header-bar>

    <ion-content>
        <div class="list">

            <!-- connect toggles to controller using ng-model -->

            <ion-toggle>
                <span class="settings-item__text">
                    Allow Push Notifications
                </span>
            </ion-toggle>

            <ion-toggle>
                <span class="settings-item__text">
                    Allow cookies
                </span>
            </ion-toggle>

        </div>
    </ion-content>

</ion-view>
