<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title"><%= title %></h1>
    </ion-header-bar>

    <ion-content>
        <div class="content">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis magni corporis atque dignissimos alias quasi, culpa deserunt molestias provident quam, voluptates repudiandae ex quibusdam illum. Fugiat distinctio consequuntur vel recusandae.
            </p>
        </div>
    </ion-content>

</ion-view>
